* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#ab68eb, #6963e7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-container {
  width: 100%;
  max-width: 920px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 64px 90px 64px 0;
  border-radius: 15px;
}
.image-container {
  max-width: 400px;
}
.image-container img {
  display: block;
  width: 100%;
}
.list-container {
  flex: 1;
  padding-left: 60px;
}
.list-container h1 {
  font-size: 1.6em;
  margin-bottom: 20px;
  color: hsl(238, 29%, 16%);
}
.faq-list div {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.faq-list div:first-child {
  border-top: none;
}
.faq-list div:last-child {
  border-bottom: 2px solid #e8e8e8;
}
.faq-list dt {
  font-size: 1em;
  padding: 10px 0;
  color: hsl(237, 12%, 33%);
}
.faq-list dt.show {
  font-weight: bold;
  color: hsl(238, 29%, 16%);
}
.faq-list dt .icon {
  margin-left: 20px;
}
.faq-list dt.show .icon {
  transform: rotate(180deg);
}
.faq-list dt:first-child {
  border-top: none;
}
.faq-list dd {
  display: none;
  font-size: 0.6875em;
  padding-bottom: 15px;
  color: hsl(240, 6%, 50%);
}
.faq-list dd.show {
  display: block;
}

@media (max-width: 768px) {
  .faq-container {
    width: 90vw;
    flex-direction: column;
    padding: 20px;
  }
  .list-container {
    margin-top: 30px;
    padding-left: 0;
  }
  .list-container h1 {
    text-align: center;
  }
  .faq-list div dd {
    max-width: 300px;
  }
}
