@media (max-width: 768px) {
  .header {
    align-items: flex-start;
  }
  .banner {
    flex-direction: column;
    h4 {
      margin-bottom: 20px;
    }
    .button-theme {
      justify-content: space-between;
      border-top: 1px solid $text-desaturated-blue;
      p {
        display: block;
      }
    }
  }
  .container-cards {
    margin: -60px auto 0 auto;
  }
}
